# XCode
.DS_Store
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.pbxlop
!default.pbxlop
*.xcuserstate
*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcuserdata/
# Build products
Build/
DerivedData/
# Package Manager
.swiftpm/
# CocoaPods
Pods/
# Carthage
Carthage/Build/
